.Logo {
  width: 40px;
}

.navbar__item {
  float: right;
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.navbar__country {
  text-align: right;
}
